# Configure parameter for build
# Global configuration file name
# The current file is located at the root each project
# GLOBAL_CONFIG_FILE="build_env.config"

# Project name
# BUILD_PROJECT_NAME="prophet"
BUILD_PROJECT_NAME="prophet"

# Build switch
# BUILD_ENV=("DEV" "PROD" "CUSTOM")
BUILD_ENV=("DEV")

# Build costom user switch, BUILD_ENV must contain "costom" to take effect
# BUILD_CUSTOM_USER=("USER_1" "USER_2")
BUILD_CUSTOM_USER=("USER_1" "USER_2")

# Set up the default build branch, Update the development environment
MASTER_BRANCH="master"
PRODUCTION_BRANCH=["BRANCH_1","BRANCH_2"]

# Set the git information
# GIT_LOG_START_TIME="2019-10-01"
GIT_LOG_START_TIME="2019-10-01"
GIT_URL="http://192.168.10.254:8080"

# Build base image repo
declare -A BASE_REPO
BASE_REPO=([URL]="192.168.10.10" \
           [NAME]="hypermotion-base" \
           [USER]="jenkins" \
           [PASS]="Abc999")

# The development environment
declare -A DEV_REPO
DEV_REPO=([URL]="192.168.10.10" \
          [NAME]="hypermotion-dev" \
          [USER]="jenkins" \
          [PASS]="Abc999")

# The production environment
declare -A PROD_REPO
PROD_REPO=([URL]="192.168.10.10" \
           [NAME]="hypermotion-production" \
           [USER]="jenkins" \
           [PASS]="Abc999" \
           [ALIYUN_URL]="registry.cn-beijing.aliyuncs.com" \
           [ALIYUN_NAME]="hypermotion-production" \
           [ALIYUN_USER]="jenkins@hypermotion" \
           [ALIYUN_PASS]="Abc999@1")

# The custom environment
declare -A CUSTOM_REPO
CUSTOM_REPO=([URL]="192.168.10.10" \
             [NAME]="hypermotion-costom" \
             [USER]="jenkins" \
             [PASS]="Abc999")

# Upgrade envrionment variables oneline
declare -A UPDATE_REPO
UPDATE_REPO=([URL]="registry.cn-beijing.aliyuncs.com" \
             [NAME]="hypermotion-production")

# Docker file template info
DOCKERFILE_TEMPLATE="./generate_dockerfile.sh"
#x DOCKER_IGNORE_FILE="./.dockerignore" auto generate this file
